

#canvas {
    height: 500px;
    width: 700px;
    background-color: hsl(0, 44%, 89%);
    margin: auto;
}

h1 {
    font-size: 40px;
}
body {
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
}
button {

}

#restart {
    display:none;
}


.buttons {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}